{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
    <main class="flex flex-col h-full" style="background-color: #F7F1EC;">

        <div class="flex flex-col gap-y-8 mt-24 mx-auto w-2/5">
            <h1 class="mx-auto text-2xl font-inter">Mon compte</h1>

            <div class="flex flex-col bg-white p-12">
                <h2 class="font-bold mb-6">Mes commandes</h2>

                <table>
                    <tbody class="flex flex-col w-full divide-y divide-gray-200">
                        <tr class="flex justify-between w-full text-gray-400 font-inter text-sm">
                            <th class="text-left py-4">N°</th>
                            <th class="text-left py-4">Date</th>
                            <th class="text-left py-4">Prix</th>
                        </tr>

                        <tr class="flex justify-between w-full">
                            <td class="text-left py-6">01</td>
                            <td class="text-left py-6">01/01/2024</td>
                            <td class="text-left py-6">123,4€</td>
                        </tr>
                        <tr class="flex justify-between w-full">
                            <td class="text-left py-6">01</td>
                            <td class="text-left py-6">01/01/2024</td>
                            <td class="text-left py-6">123,4€</td>
                        </tr>
                        <tr class="flex justify-between w-full">
                            <td class="text-left py-6">01</td>
                            <td class="text-left py-6">01/01/2024</td>
                            <td class="text-left py-6">123,4€</td>
                        </tr>
                        <tr class="flex justify-between w-full">
                            <td class="text-left py-6">01</td>
                            <td class="text-left py-6">01/01/2024</td>
                            <td class="text-left py-6">123,4€</td>
                        </tr>
                    </tbody>
                </table>

                <!-- TODO: Ajouter une condition pour afficher ce message uniquement si l'utilisateur n'a pas de commandes -->
                <p class="italic text-gray-400">Aucune commandes</p>
            </div>

            <div class="flex flex-col bg-white p-12">
                <h2 class="font-bold mb-6">Mon accès API</h2>

                <a
                    class="flex font-inter justify-center bg-neutral-600 py-8 text-white cursor-pointer hover:bg-neutral-500"
                    href="#"
                >
                    Activer mon accès API
                </a>
            </div>

            <div class="flex flex-col bg-white p-12">
                <a
                    class="flex font-inter justify-center bg-neutral-600 py-8 text-white cursor-pointer hover:bg-neutral-500"
                    href="#"
                >
                    Supprimer mon compte
                </a>
            </div>
        </div>
    </main>
{% endblock %}
